<h1>Hull Synchronizer</h1>

<p>Welcome to Hull Synchronizer. This interface is for use by Hull History Centre staff to monitor the progress of ingests.</p>

<p>From here you can:
  <ul>
    <li>Create a <%= link_to('CSV file', data_mappers_path) %> from an asset bank or sharepoint export.</li>
    <li>Monitor <%= link_to('workflows', workflows_path) %>.</li>
    <li>Download the windows <%= link_to('directory_csv.bat', 'directory_csv.bat') %> used for generating FILES.csv for ingest.</li>
    <li>Download the <%= link_to('metadata template', 'DESCRIPTION.csv') %>  for DESCRIPTION.csv for ingest.</li>
  </ul>
</p>

<p>Please read the <%= link_to("Archivists Guide", 'https://github.com/research-technologies/hull_synchronizer/wiki/Archivists-guide') %>  for further information.</p>
