<p id="notice"><%= notice %></p>

<table>

  <tbody>
    <tr>
      <td>ID:</td><td><%= @ingest.id %></td>
    </tr>
    <tr>
      <td>Name:</td><td><%= @ingest.class.to_s %></td>
    </tr>
    <tr>
      <td>Status</td><td><%= @ingest.status %></td>
    </tr>
    <tr>
      <td>Started at:</td><td><%= Time.at(@ingest.started_at) unless @ingest.started_at.blank? %></td>
    </tr>
    <tr>
      <td>Finished at:</td><td><%= Time.at(@ingest.finished_at) unless @ingest.finished_at.blank? %></td>
    </tr>
    <tr>
      <td>Total Jobs:</td><td><%= @ingest.jobs.count %></td>
    </tr>
    <tr>
      <td>Enqueued jobs:</td><td><%= count(@ingest, 'enqueued') %></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Running jobs:</td><td><%= count(@ingest, 'running') %></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Remaining jobs:</td><td><%= count(@ingest, 'remaining') %></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Succeeded jobs:</td><td><%= count(@ingest, 'succeeded') %></td>
    </tr>
    <tr>
      <td>Number of Works:</td><td><%= @ingest.number_of_works %> (plus 1 Package)</td>
    </tr>
    <% succeeded_jobs_in_order(@ingest).each do | job |  %>
      <tr>
        <td></td>
        <td>
          <%= job.name %><br />
          <% if job.output_payload %>
            <% job.output_payload.each do | key,value | %>
              &nbsp;&nbsp;<%= "#{key}: #{value}" %><br />
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>Failed jobs:</td><td><%= @ingest.jobs.select(&:failed?).count %></td>
    </tr>
    <% failed_jobs_in_order(@ingest).each do | job | %>
      <tr>
        <td></td>
        <td>
          <%= job.name %><br />
          <% if job.output_payload %>
            <% job.output_payload.each do | key,value | %>
              &nbsp;&nbsp;<%= "#{key}: #{value}" %><br />
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

<%= link_to 'Refresh', review_path %> | 
<% unless @ingest.finished? %>
  <%= link_to 'Retry', retry_ingest_path(@ingest.id) %> | 
<% end %>
<%= link_to 'Delete', 
             review_path(@ingest.id), 
             method: :delete, 
             data: { confirm: 'Are you sure you want to delete this review?' } %> | 
<%= link_to 'Back', reviews_path %>

