<div class="page-header">
  <h1>CSV file mapper</h1>
  <div class="right"><%= link_to 'Upload file', new_data_mapper_path, class: 'btn btn-success' %></div>
</div>
<div>
  <% if @data_mappers.present? %>
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Files</th>
        <th>Date uploaded</th>
        <th>Delete record</th>
      </tr>
    </thead>
    <tbody>
    <% @data_mappers.each do |dm| %>
      <tr>
        <td>
          <!-- title -->
          <%= link_to dm.title, data_mapper_path(dm) %>
        </td>
        <td>
          <!-- File type -->
          <%= dm.file_type %>
        </td>
        <td>
          <!-- progress -->
          <%= dm.rows_processed %> / <%= dm.rows %>
        </td>
        <td>
          <!-- status -->
          <%= dm.status %>
        </td>
        <td>
          <!-- files -->
          <% if dm.original_file.exists? %>
            <%= link_to "Original file", dm.original_file.url(:original, false) %><br/>
          <% end %>
          <% if dm.mapped_file.exists? %>
            <%= link_to "Mapped file", dm.mapped_file.url(:original, false) %>
          <% end %>
        </td>
        <td>
          <!-- Date uploaded -->
          <%= dm.created_at %>
        </td>
        <td>
          <!-- delete -->
          <%= link_to 'Remove', data_mapper_path(dm), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  <% end %>
</div>
